<div *ngIf="verb">
    {{console.log(verb)}}
    <h2>{{verb.times.present}}</h2>
    <img src="{{verb.url}}" />
    <div class="verb_times">
        <div>
            {{verb.times.past}}
        </div>

        <div>
            {{verb.times.present}}
        </div>

        <div>
            {{verb.times.past_part}}
        </div>
    </div>
    <h2>Statments</h2>
    <div>
        <div>
            <h4> Past </h4>
            <div> {{verb.statments.past}} </div>
        </div>
        <div>
            <h4> Present </h4>
            <div> {{verb.statments.present}}</div>
        </div>
        <div>
            <h4> Future </h4>
            <div> {{verb.statments.future}} </div>
        </div>
    </div>
</div>