<div *ngIf="times" class="verbs_time">
    <div class="block_verb">
        <div class="title_time">
            PAST
        </div>
        <div class="verb">    
            {{times.past }}
        </div>
    </div>
    <div class="block_verb">
        <div class="title_time">
            PRESENT
        </div>
        <div class="verb">
            {{times.present | lowercase}}      
        </div>
    </div>
    <div class="block_verb">
        <div class="title_time">
            PRESENT PERFECT
        </div>
        <div class="verb">
            {{times.past_part}}
        </div>
    </div>
</div>