<div *ngIf="times" class="verbs_time">
    <div class="block_verb">
        <div class="title_time">
            Past
        </div>
        <div class="verb">    
            {{times.past | uppercase}}
        </div>
    </div>
    <div class="block_verb">
        <div class="title_time">
            Present
        </div>
        <div class="verb">
            {{times.present | uppercase}}      
        </div>
    </div>
    <div class="block_verb">
        <div class="title_time">
            Past Participle
        </div>
        <div class="verb">
            {{times.past_part | uppercase}}
        </div>
    </div>
</div>