<!-- This show the data models likes as json. its works with whaterever  object.-->
<!-- {{ model | json }} -->
<div class="container">
    <div [hidden]="submitted">
        <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
            <h1> Hero Form </h1>
            <div class="form-group">
                <label for="name">Name</label>
                <input type=text  name="name"  required 
                    class="form-control ng-untouched ng-pristine ng-valid" 
                    id="name" [(ngModel)]="model.name"  
                    #name="ngModel">
                <!-- Is important to use #name="ngModel" because this binding  with the below div and 
                helps to show the user what is bad  -->
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    Name is required
                </div>
            </div>

            <div class="form-group">
                <label for="alterEgo"> Alter Ego </label>
                <input type="text" name="alterEgo" class="form-control" id="alterEgo" [(ngModel)]="model.alterEgo" />
            </div>

            <div class="form-group">
                <label for="power"> Hero Power</label>
                <select class="form-control ng-untouched ng-pristine ng-valid" id="power" required [(ngModel)]="model.power" name="power" #power="ngModel">
                    <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
                </select>
                <div [hidden]="power.valid || power.pristine">
                </div>
            </div>

            <!-- HeroForm was intialized at the top of this form and after put on this button to validate the form -->
            <button type="submit" class="btn btn-sucess" [disabled]="!heroForm.form.valid">Submit</button>

            <!-- -->
            <!-- <button type="button" class="btn btn-default" (click)="newHero();heroForm.reset()"> New Hero</button> -->



        </form>
    </div>
    <div [hidden]="!submitted">
        <h2> You submited the following:</h2>
        <div class="row">
            <div class="cols-xs-3">Name</div>
            <div class="cols-xs-9">{{model.name}}</div>
        </div>
        <div class="row">
            <div class="cols-xs-3">Alter Ego</div>
            <div class="cols-xs-9">{{model.alterEgo}}</div>
        </div>
        <div class="row">
            <div class="cols-xs-3">Power</div>
            <div class="cols-xs-9">{{model.power}}</div>
        </div>
        <button type="button" class="btn btn-primary" (click)="submitted=false" >
            Edit
        </button>
    </div>
</div>