<div class="container">
    <form >
        ¡¡TIMES!!
        <div class="form-group">
            <label for="past"> past</label>
            <input class="form-control" id="past"  type="text" />
        </div>
        <div class="form-group">
            <label for="present"> present </label>
            <input class="form-control" id="present" type="text" />
        </div>
        <div class="form-group">
            <label for="present_perfect"> present perfect </label>
            <input class="form-control" id="present_perfect" type="text" />
        </div>
        <div class="form-group">
            <label for="urls_image"> urls image </label>
            <input class="form-control" id="urls_image" type="text" />
        </div>
        <div class="form-group">
            <label for="past_statement"> Past statement </label>
            <input class="form-control" id="past_statement" type="text" />
        </div>
        <div class="form-group">
            <label for="present_statement"> Present statement </label>
            <input class="form-control" id="present_statement" type="text" />
        </div>
        <div class="form-group">
            <label for="future_statement"> Future statement </label>
            <input class="form-control" id="future_statement" type="text" />
        </div>
    </form>
</div>