<div *ngIf="staments" class="statments">
    <h2>Prhases</h2>
    <div class="statement">
        <div class="time_verb">PAST</div>
        <div class="example">
            - {{staments.past}}
        </div>
    </div>
    <div class="statement">
        <div class="time_verb">PRESENT</div>
        <div class="example">
            - {{staments.present}}
        </div>
    </div>
    <div class="statement">
        <div class="time_verb">PRESENT PERFECT</div>
        <div class="example">
            - {{staments.past_part}}
        </div>
    </div>
</div>